@import url(reset.css);

body {
    background: linear-gradient(90deg, rgba(37,39,42,1) 0%, rgba(42,63,246,1) 100%)
}
.wrapper {
}
.counter {
    margin: 30vh auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    padding: 25px;
    gap: 30px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
}

.count {
    display: flex;
    gap: 25px;
    font-size: 3rem;
}
.buttons {
    display: flex;
    margin-top: 5px;
    gap: 10px;
}
.button {
    color: rgb(53, 52, 52);
    font-size: 40px;
    padding: 10px 20px 15px 20px;
    background-color: #fff;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}
.button:hover {
    background-color: rgb(232, 64, 64);
}